<div class="container view-container">
  <h5 class="page-title">Add Funds</h5>
  <p>
    Use this page to add funds to your account. In a real use case, this page would ask for credit card
    information/PayPal to charge a user for funding their account. I can't very well ask this of people in a demo
    application, so the button below will add units of the fund equal to<sup>*</sup> £100 to your account. Add as many
    times as you like!
  </p>
  <button class="btn btn-primary add-funds-btn" ng-click="requestFinancialAid()">Add Units</button>

  <p ng-show="unitsAdded">Units added to account.</p>

  <p ng-show="transactionError">
    An error occurred whilst adding funds to the account. Please try again.
  </p>

  <p class="small">
    <sup>*</sup>But for legal reasons is not...
  </p>
</div>