<div class="container view-container">
  <h5 class="page-title">Add Funds</h5>
  <p>
    Use this page to add funds to your account. In a real use case, this page would ask for credit card
    information/PayPal to charge a user for funding their account. I can't very well ask this of people in a demo
    application, so the button below will add units of the fund equal to<sup>*</sup> £100 to your account. Add as many
    times as you like!
  </p>
  <button class="btn btn-primary" ng-click="requestFinancialAid()">Add Units</button>
</div>