body {
  background-color: #eeeeee;
}

/* Navbar */
.main-navbar {
  background-color: #eeeeee;
}

/* Log in and sign up */
#login-container, #signup-container {
  max-width: 500px;
  margin-top: 3rem;
}

.form-warning {
  margin-top: 0.5rem;
}

.submit-warning {
  margin-bottom: 1.5rem;
}

.form-control {
  line-height: 1;
}

.submit-btn {
  display: flex;
  margin: 0 auto;
}

.last-form-group {
  margin-bottom: 1.5rem;
}
