body {
  background-color: #eeeeee;
}

/* Navbar */
.or {
  color: #fff;
  margin: 0 0.5rem;
  line-height: 2.35;
}

@media (max-width: 991px) {
  #navbar-no-collapse{
    display: none!important;
  }
}

@media (min-width: 992px) {
  #navbar-links{
    display: none!important;
  }
}

.logo {
  height: 2rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  max-width: 3rem;
}

.nav-item {
  padding: 0;
  margin-bottom: 0.5rem;
}

.no-collapse-nav-item {
  margin-right: 1rem;
  margin-bottom: 0;
}

#navbar-links {
  margin-bottom: 0.5rem;
}

.account-ctrl-btn-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.header {
  display: flex;
  justify-content: space-between;
}

.hidden {
  visibility: hidden;
}

.navbar-toggler {
  border: 0;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
}

#main-navbar {
  background-image: url("assets/img/pw_maze_black_@2X_mod2.png");
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}

/* Welcome */
.welcome-text {
  font-size: 1.25rem;
}

/* Log in and sign up */
#login-container, #signup-container {
  max-width: 500px;
  margin-top: 7rem;
}

.page-title {
  padding-top: 1rem;
  margin-bottom: 1.5rem;
}

.form-warning {
  margin-top: 0.5rem;
}

.submit-warning {
  margin-bottom: 1.5rem;
}

.form-control {
  line-height: 1;
}

.submit-btn {
  display: flex;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.last-form-group {
  margin-bottom: 1.5rem;
}

/* Profile */
.view-container {
  margin-top: 7rem;
}

.module-container > h6 {
  margin-bottom: 1rem;
}

.module-container > p {
  margin-bottom: 0.5rem;
}

.module-container {
  margin-bottom: 1.5rem;
}

.amount-form-group {
  display: flex;
  flex-wrap: wrap;
}

.currency-dropdown {
  height: auto;
  border-right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

#transaction-amount {
  flex-basis: 20%;
  flex-grow: 1;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.amount-label {
  flex-basis: 100%;
}

.amount-warning {
  flex-basis: 100%;
}

body {
  background-image: url("assets/img/pw_maze_white_@2X.png");
}

#navbar-brand {
  color: #f2f2f2;
}

#welcome-jumbotron {
  margin-top: 3.5rem;
  background-color: rgba(0,0,0,0);
  text-align: center;
  margin-bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type='number'] {
  -moz-appearance:textfield;
}

/* Transactions */
.vertical-transaction-holder {
  display: flex;
  flex-direction: column;
}

.table-headings {
  display: flex;
}

.table-row {
  display: flex;
}

.transaction {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.transaction-field {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.table-column:last-child {
  margin-right: 0;
}

.table-column-amount {
  flex-basis: 15%;
}

.table-column-date {
  flex-basis: 20%;
}

.table-column-to-from{
  flex-basis: 65%;
}

.field-value {
  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for WebKit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

  text-align: justify;
}

.table-field-value {
  padding: 0.25rem 0.5rem;
}

.field-key {
  margin-right: 0.5rem;
}

.table-field-key {
  padding: 0.5rem;
  background-color: #0b0b0b;
  color: #fff;
}

@media (max-width: 767px) {
  .table-transaction-holder {
    display: none!important;
  }
}

@media (min-width: 768px) {
  .vertical-transaction-holder {
    display: none!important;
  }
}