<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse" id="main-navbar">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-links"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" id="hamburger-btn">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">StockChain</a>

  <div class="navbar-collapse collapse" id="navbar-links" aria-expanded="false">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" data-toggle="collapse" data-target=".navbar-collapse">About<span class="sr-only"> (current)</span></a>
      </li>
    </ul>
    <div class="account-ctrl-btn-div">
      <button id="login-btn" class="btn btn-outline-success" ui-sref="website.login" data-toggle="collapse" data-target=".navbar-collapse">
        Log in
      </button>
      <span id="or">or</span>
      <button id="signin-btn" class="btn btn-outline-primary" data-toggle="collapse" data-target=".navbar-collapse" ui-sref="website.signup">
        Sign up
      </button>
    </div>
  </div>
</nav>
<ui-view></ui-view>