<div id="welcome-jumbotron" class="jumbotron">
  <h1>Welcome to StockChain</h1>
  <h3>21st Century Money</h3>
</div>
<div class="container welcome-text">
  <p>
    StockChain is an investment platform offering the returns of a mutual fund with
    the flexibility of a standard bank account. StockChain takes the capital
    provided by investors and reinvests it in stocks and shares. In return, investors
    are given units of the fund which represent a stake in the stocks and shares
    purchased by StockChain, just like a standard mutual fund. These units can be
    traded with other investors freely, differentiating StockChain from other schemes.
  </p>

  <p>
    Please use this site as you would any other and provide feedback by answering
    the questions in Questions About StockChain section of the google docs
    questionnaire. Feel free to sign up for an account, add funds and trade with
    others (all completely free for testing purposes of course).
  </p>

  <p>
    Whilst every measure has been taken to ensure the security of the app, please do
    not sign up with a password you have used on any other site. If you would prefer
    not to use a real email address, please use a made up one ending in @example.com.
  </p>

</div>