<nav id="main-navbar" class="navbar navbar-default">
  <div class="navbar-header">
    <a id="navbar-brand" class="navbar-brand">StockChain</a>
      <nav class="nav nav-masthead">
        <a class="nav-link active" ui-sref="account.overview">Overview</a>
        <a class="nav-link" ui-sref="account.transactions">Transactions</a>
        <a class="nav-link" ui-sref="account.purchaseUnits">Add Funds</a>
      </nav>
      <div class="account-ctrl-btn-div">
        <button id="logout-btn" class="btn btn-outline-primary" ui-sref="account.logout">Log out</button>
      </div>
    </div>
</nav>
<ui-view></ui-view>