<div class="container profile-container">
  <h5 class="page-title">Overview</h5>
  <p>Profile:</p>
  <p>{{profileDetails.username}}</p>
  <p>Balance: {{stockBalance}} Stocks = {{currencyBalance | currency:"£"}}</p>
  <form name="transactionForm" ng-submit="makeTransaction(transactionDetails)" novalidate>

    <!-- Email -->
    <div class="form-group"
         ng-class="{'has-danger': (transactionForm.email.$invalid && transactionForm.email.$touched &&
          !transactionForm.email.focus) || ((submitMessages.noRecipient || usernameError) && !transactionForm.email.focus)}">
      <label class="control-label" for="transactionEmail">Send Stocks to:</label>
      <input id="transactionEmail"
             type="email"
             class="form-control"
             name="email"
             ng-model="transactionDetails.username"
             ng-focus="transactionForm.email.focus=true;"
             ng-blur="transactionForm.email.focus=false; submitMessages.noRecipient=false"
             ng-change="usernameError = false"
             required>
      <p
        ng-show="(transactionForm.email.$invalid && transactionForm.email.$touched && !transactionForm.email.focus) ||
          (submitMessages.noRecipient && !transactionForm.email.focus)"
        class="form-warning">Please enter a valid email.</p>
      <p ng-show="usernameError && !transactionForm.email.focus" class="form-warning">{{usernameErrorMessage}}</p>
    </div>

    <!-- Amount -->
    <div class="form-group amount-form-group"
         ng-class="{'has-danger': (transactionForm.amount.$invalid && transactionForm.amount.$touched &&
          !transactionForm.amount.focus) || ((submitMessages.noAmount || amountError) && !transactionForm.amount.focus)}">
      <label class="control-label amount-label" for="transaction-amount">Amount</label>
      <select class="custom-select currency-dropdown" id="inlineFormCustomSelect" ng-model="currency"
              ng-init="currency = 'GBP'">
        <option selected="selected" value="GBP">GBP (£)</option>
        <option value="1" value="Stocks">Stocks</option>
      </select>
      <input id="transaction-amount" type="number" class="form-control" name="amount"
             ng-model="transactionDetails.amount"
             ng-focus="transactionForm.amount.focus=true;submitMessages.noAmount=false"
             ng-blur="transactionForm.amount.focus=false" ng-change="amountError=false" required>
      <p ng-show="(transactionForm.amount.$invalid && transactionForm.amount.$touched && !transactionForm.amount.focus)
          || (submitMessages.noAmount && !transactionForm.amount.focus)"
        class="form-warning amount-warning">Please enter an amount to send.</p>
      <p ng-show="amountError && !transactionForm.amount.focus" class="form-warning amount-warning">
        {{amountErrorMessage}}</p>
    </div>

    <button type="submit" class="btn btn-primary submit-btn">Send</button>

    <p ng-show="submitMessages.transactionSuccess && transactionDetails.currency">Sent {{transactionDetails.amount |
      currency:"£"}} to {{counterparty}}.</p>
    <p ng-show="submitMessages.transactionSuccess && !transactionDetails.currency">Sent {{transactionDetails.amount}}
      Stocks to {{counterparty}}.</p>

  </form>
</div>
