<div class="container">

  <!-- Login Form -->
  <form name="signupForm" ng-submit="signup(credentials)" novalidate>

    <!-- Email -->
    <div class="form-group" ng-class="{'has-danger': signupForm.email.$invalid && signupForm.email.$touched}">
      <label class="control-label" for="email">Email</label>
      <input id="email" type="email" class="form-control" name="email" ng-model="credentials.username" required>
      <p ng-show="signupForm.email.$invalid && signupForm.email.$touched" class="has-danger">Please enter a valid
        email.</p>
    </div>

    <!-- Password -->
    <div class="form-group" ng-class="{'has-danger': signupForm.password.$invalid && signupForm.password.$touched}">
      <label class="control-label" for="password">Password</label>
      <input id="password" type="password" class="form-control" name="password" ng-model="credentials.password"
             required>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Login</button>

  </form>

</div>
